
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: stripedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5436:5432"

  web:
    build: .
    command: /bin/bash -lc "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8002:8000"
    environment:
      POSTGRES_DB: stripedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: '5432'
    depends_on:
      - db

  mail:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
